@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

a {
    text-decoration:none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(90deg,rgba(0, 65, 136, 1) 0%, rgba(0, 33, 69, 1) 100%);
    width: 100%;
    color: #fff;
    padding-bottom: 100px;
    padding-right: 300px;
}               
.container {
    padding-left: 57px;
    width: 1400px;
    margin: 0 auto;
}
header {
    padding: 50px 0;
}

.logo {
    position: relative;
    float: left;
    bottom: 20px;
    right: 20px;
}
header nav {
    float: left;
    width: 50%;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    position: relative;
}
header nav ul.users {
    width: 150px;
    position: relative;
    left: 600px;
}

header nav ul li {
    display: inline-block;
}
.hero {
    position: relative;
    height: 600px;
    z-index: 2;
    overflow: hidden;

}
.hero--info {
    width: 609px;
    padding-top: 70px;
}
.hero--info h1 {
    font-size: 58px;
    font-weight: 700;
}
.hero--info p {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    padding-bottom: 30px;
}
.hero--info .btn {
    font-weight: 600;
    background: #22B573;
    color: #fff;
    border-radius: 50px;
    padding: 10px 30px;
    border: 0;
    transition: all 500 ms ease;
}
.hero--info .btn:hover {
    cursor: pointer;
    transform: (1.1);
}
.hero img {
    background-image: url("world/BG_Hero.svg");
    background-position: center;
    width: 670px;
    position: absolute;
    top: -5px;
    right: 100px;
    bottom: -5px;
}

.projects {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    width: 1236px;
    height: 577px;
    color: #00000099;
}


.projects ul  { 
    padding-top: 50px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.all {
    color: #009B6F;
}

.all::after {
    content: "";
    display: block;
    width: 40px;
    height: 5px;
    background: #009B6F;
}

.btn--succes {
    position: relative;
    bottom: 15px;
    left: 5px;
    font-size: 18px;
    background: #22B573;
    color: #fff;
    border-radius: 40px ;
    padding: 19px 60px;
    border: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}
.card {
    position: relative;
    top: 50px;
    justify-content: space-between;

}