@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}


$liniar_container:linear-gradient(90deg,rgba(0, 65, 136, 1) 0%, rgba(0, 65, 136, 1) 100%); // background header

@mixin nav {
    font-family: Poppins ,sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 10px;
    padding-left: 10px;
}

.ash-header {
    float: left;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    &__logo img {
       height: 50px;
       margin-left: 100px;
    }
    &__user {
        left: 300px;
    }
    
}

.ash-hero {
    width: 100%;
    background: $liniar_container;
    .container {
        width: 1240px;
        height: 808px;
    }

    nav a{
        @include nav;
    }

    ul {
        display: flex;
    }
    li {
        list-style: none;
    }

}

.info {
    margin-top: 50px;
}