@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
}
.ash--hero {
    width: 1400px;
    height: 809px;
    background: linear-gradient(90deg,rgba(0, 65, 136, 1) 0%, rgba(0, 33, 69, 1) 100%);
  .header {
    .users {
        display: flex;
        top: -20px;
        left: 20px;
        width: 150px;
        position: relative;
        left: 900px;
        list-style: none;
        a {
            text-decoration: none;
            color: #fff;
        }
        li {
            padding-left: 5px;
        }
    }
    width: 1240px;
    .nav--bar {
        width: 50%;
        display: inline-block;
    .logo {
        position: relative;
        top: -20px;
        left: 10px;
    }
        ul {
            top: 40px;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 18px;
            display: flex;
            justify-content: space-between;
            z-index: 3;
            position: relative;
        }
        li {
            top: 40px;
            display: inline-block;
            list-style: none;
            left: 30px;
        }
        a{
        text-decoration: none;
        color: #fff;
        }
    }
 } 
 
}

